[Unit]
Description=The Lone Dancer
After=basic.target

[Service]
Type=simple
#Restart=always
#RemainAfterExit=yes
User=root
ExecStart=/usr/bin/podman start --attach the-lone-dancer
#ExecReload=/usr/bin/podman restart the-lone-dancer
ExecStop=/usr/bin/podman stop the-lone-dancer

[Install]
WantedBy=multi-user.target
