[Unit]
Description=The Lone Dancer updater
After=basic.target

[Service]
Type=simple
User=the-lone-dancer
ExecStart=/usr/local/bin/the-lone-dancer-update.sh
